<% unless @feed_items.empty? %>
	<table class="microposts" summary="User microposts">
		<%= render :partial => 'shared/feed_item', :collect => @feed_items %>
	</table>
	<%= will_paginate @feed_items %>
<% end %>
